.table {
	width: 1200px;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
    margin: auto;
    margin-top: 50px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}